.container{

    display: flex;

    align-self: stretch;

}

.base{

    width: 960px;

    height: 960px;

    display: flex;

    border: 5px solid rgb(235, 212, 110);

    flex-grow: 0;
    
}

div{

    flex-grow: 1;

}

.horizontal{

    display: flex;

    flex-direction: column;

}

body{

    display: flex;

    justify-content: center;

    align-items: flex-start;

}
