.container{

    display: flex;

    align-self: stretch;

}

body{

    width: 960px;

    height: 960px;

    display: flex;

    border: 5px solid rgb(235, 212, 110);
    
}

div{

    flex-grow: 1;

}

.horizontal{

    display: flex;

    flex-direction: column;

}

html{

    display: flex;

    justify-content: center;

    align-items: center;

}
